############################################################
#  General Configuration
############################################################
CONFIG_PATH="/config"
DATA_PATH="/data"
PUID=1000
PGID=1000
TZ=Europe/Amsterdam

############################################################
#  Gluetun VPN Configuration
############################################################
# VPN provider (e.g., "pia", "nordvpn", "cyberghost", etc.)
VPN_SERVICE_PROVIDER=nordvpn
VPN_TYPE=openvpn
UPDATER_PERIOD=24h
# VPN countries (comma-separated, e.g., "Netherlands,United States")
SERVER_COUNTRIES=Netherlands

OPENVPN_USER="op://homecloud/NordVPN Service Credentials/username"
OPENVPN_PASSWORD="op://homecloud/NordVPN Service Credentials/password"
